version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:18.0
    steps:
      - checkout
      - run:
          name: Todo listo
          command: |
            echo "El proyecto se ha descargado correctamente."
            echo "No se ejecutan validaciones."

workflows:
  version: 2
  run_build:
    jobs:
      - build
